.registerPage {
    display: flex;
    align-items: center;    
    justify-content: center;
    max-height: 91vh;
}

.registerCard {
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    margin: auto;
    margin-top: 8vh;
}
